<?xml version="1.0" encoding="utf-8" ?>
<config>
  <basic>
    <dir>~/downloads</dir>
    <disk_cache>32M</disk_cache>
    <file_allocation>falloc</file_allocation>
    <continue>true</continue>
  </basic>
  <network>
    <max_concurrent_downloads>5</max_concurrent_downloads>
    <max_connection_per_server>5</max_connection_per_server>
    <min_split_size>10</min_split_size>
    <split>5</split>
    <max_overall_download_limit>0</max_overall_download_limit>
    <max_download_limit>0</max_download_limit>
    <max_overall_upload_limit>0</max_overall_upload_limit>
    <max_upload_limit>0</max_upload_limit>
    <disable_ipv6>true</disable_ipv6>
    <timeout>60</timeout>
    <max_tries>5</max_tries>
    <retry_wait>0</retry_wait>
  </network>
  <session>
    <input_file>/etc/aria2/aria2.session</input_file>
    <save_session>/etc/aria2/aria2.session</save_session>
    <save_session_interval>60</save_session_interval>
  </session>
  <rpc>
    <enable_rpc>true</enable_rpc>
    <rpc_allow_origin_all>true</rpc_allow_origin_all>
    <rpc_listen_all>true</rpc_listen_all>
    <event_poll>select</event_poll>
    <rpc_listen_port>6800</rpc_listen_port>
    <rpc_secret></rpc_secret>
  </rpc>
  <BitTorrent>
    <follow_torrent>true</follow_torrent>
    <listen_port>51413</listen_port>
    <bt_max_peers>55</bt_max_peers>
    <enable_dht>false</enable_dht>
    <enable_dht6>false</enable_dht6>
    <dht_listen_port>6881-6999</dht_listen_port>
    <bt_enable_lpd>false</bt_enable_lpd>
    <enable_peer_exchange>false</enable_peer_exchange>
    <bt_request_peer_speed_limit>50K</bt_request_peer_speed_limit>
    <peer_id_prefix>_TR2770_</peer_id_prefix>
    <user_agent>Transmission/2.77</user_agent>
    <seed_ratio>0</seed_ratio>
    <force_save>false</force_save>
    <bt_hash_check_seed>true</bt_hash_check_seed>
    <bt_seed_unverified>true</bt_seed_unverified>
    <bt_save_metadata>true</bt_save_metadata>
  </BitTorrent>
</config>