<?xml version="1.0" encoding="utf-8"?>
<config>
  <basic>
    <dir>helloworld</dir>
    <disk_cache>helloworld</disk_cache>
    <file_allocation>helloworld</file_allocation>
    <continue>helloworld</continue>
  </basic>
  <network>
    <max_concurrent_downloads>helloworld</max_concurrent_downloads>
    <max_connection_per_server>helloworld</max_connection_per_server>
    <min_split_size>helloworld</min_split_size>
    <split>helloworld</split>
    <max_overall_download_limit>helloworld</max_overall_download_limit>
    <max_download_limit>helloworld</max_download_limit>
    <max_overall_upload_limit>helloworld</max_overall_upload_limit>
    <max_upload_limit>helloworld</max_upload_limit>
    <disable_ipv6>helloworld</disable_ipv6>
    <timeout>helloworld</timeout>
    <max_tries>helloworld</max_tries>
    <retry_wait>helloworld</retry_wait>
  </network>
  <session>
    <input_file>helloworld</input_file>
    <save_session>helloworld</save_session>
    <save_session_interval>helloworld</save_session_interval>
  </session>
  <rpc>
    <enable_rpc>helloworld</enable_rpc>
    <rpc_allow_origin_all>helloworld</rpc_allow_origin_all>
    <rpc_listen_all>helloworld</rpc_listen_all>
    <event_poll>helloworld</event_poll>
    <rpc_listen_port>helloworld</rpc_listen_port>
    <rpc_secret>helloworld</rpc_secret>
  </rpc>
  <BitTorrent>
    <follow_torrent>helloworld</follow_torrent>
    <listen_port>helloworld</listen_port>
    <bt_max_peers>helloworld</bt_max_peers>
    <enable_dht>helloworld</enable_dht>
    <enable_dht6>helloworld</enable_dht6>
    <dht_listen_port>helloworld</dht_listen_port>
    <bt_enable_lpd>helloworld</bt_enable_lpd>
    <enable_peer_exchange>helloworld</enable_peer_exchange>
    <bt_request_peer_speed_limit>helloworld</bt_request_peer_speed_limit>
    <peer_id_prefix>helloworld</peer_id_prefix>
    <user_agent>helloworld</user_agent>
    <seed_ratio>helloworld</seed_ratio>
    <force_save>helloworld</force_save>
    <bt_hash_check_seed>helloworld</bt_hash_check_seed>
    <bt_seed_unverified>helloworld</bt_seed_unverified>
    <bt_save_metadata>helloworld</bt_save_metadata>
  </BitTorrent>
</config>